<div>
   <app-navbar></app-navbar>

<section>
    
        <div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center">
            <div class="w-full lg:w-1/2">
                <div class="lg:max-w-lg">
                    <h1 class="text-3xl font-semibold tracking-wide text-gray-800 lg:text-4xl"><span class="text-blue-400">AFTAS</span> Fish With Your Friends</h1>
                    <p class="mt-4 text-gray-600 ">We work with the best remunated hunters to find let you enjoy the experience.</p>
                    <div class="grid gap-6 mt-8 sm:grid-cols-2">
                        <div class="flex items-center text-gray-800 -px-3 ">
                            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
    
                            <span class="mx-3">Safi</span>
                        </div>
    
                        <div class="flex items-center text-gray-800 -px-3 ">
                            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
    
                            <span class="mx-3">Dakha</span>
                        </div>
    
                        <div class="flex items-center text-gray-800 -px-3 ">
                            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
    
                            <span class="mx-3">Casablanca</span>
                        </div>
    
                        <div class="flex items-center text-gray-800 -px-3 ">
                            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
    
                            <span class="mx-3">Tiznit</span>
                        </div>
    
                        <div class="flex items-center text-gray-800 -px-3 ">
                            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
    
                            <span class="mx-3">Tangier</span>
                        </div>
    
                        <div class="flex items-center text-gray-800 -px-3 ">
                            <svg class="w-5 h-5 mx-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                            </svg>
    
                            <span class="mx-3">Agadir</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="flex items-center justify-center w-[80vw] h-96 lg:w-1/2">
                <img class="object-cover w-full h-full max-w-8xl rounded-md" src="https://images.unsplash.com/photo-1544551763-46a013bb70d5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="sea photo">
            </div>
        </div>
    
</section>

</div>